<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/data/mongo
          				   http://www.springframework.org/schema/data/mongo/spring-mongo-1.0.xsd
                           http://www.springframework.org/schema/context 
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/mvc
                           http://www.springframework.org/schema/mvc/spring-mvc.xsd
                           http://www.springframework.org/schema/task
						   http://www.springframework.org/schema/task/spring-task.xsd">

	<context:annotation-config />
	<context:component-scan base-package="com.ani.stock" />

	<bean id="deployProperties"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean"
		p:location="/WEB-INF/spring/spring-data.properties" />

	<context:property-placeholder
		properties-ref="deployProperties" />

	<bean id="stockDataSource" class="com.jolbox.bonecp.BoneCPDataSource"
		destroy-method="close" p:driver-class="org.postgresql.Driver"
		p:jdbc-url="${dataJdbcURL}" p:username="${dataJdbcUsername}"
		p:password="${dataJdbcPassword}" p:idle-connection-test-period="60"
		p:idle-max-age="240" p:max-connections-per-partition="12"
		p:min-connections-per-partition="5" p:partition-count="3"
		p:acquire-increment="5" p:statements-cache-size="100"
		p:release-helper-threads="3" />

	<bean id="stockDataTemplate" class="org.springframework.jdbc.core.JdbcTemplate"
		p:data-source-ref="stockDataSource" p:fetch-size="100" />

	<bean id="stockDao" class="com.ani.stock.datasvc.dao.impl.StockDaoImpl"
		p:jdbc-template-ref="stockDataTemplate" />

	<bean id="stockService" class="com.ani.stock.datasvc.service.impl.StockServiceImpl"
		p:stock-dao-ref="stockDao" />
		
	<mongo:mongo host="127.0.0.1" port="27017" />
	<mongo:db-factory dbname="finance" />
	
	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg name="mongoDbFactory" ref="mongoDbFactory" />
	</bean>
	
	<bean id="mailSender" class ="org.springframework.mail.javamail.JavaMailSenderImpl" >
    <property name="host"><value>smtp.gmail.com</value></property>
        <property name="port"><value>587</value></property>
        <property name="protocol"><value>smtp</value></property>
        <property name="username"><value>genappssmtp@gmail.com</value></property>
        <property name="password"><value>${smtpPassword}</value></property>
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.auth">true</prop>
                <prop key="mail.smtp.starttls.enable">true</prop>
                <prop key="mail.smtp.quitwait">false</prop>
            </props>
        </property>
	</bean>
	
	 <bean id="yahooWebScraper" class="com.ani.stock.datasvc.service.YahooWebScraperImpl"
		init-method="init">
	</bean>
	
	 <bean id="yahooOptionsScraper" class="com.ani.stock.datasvc.service.YahooWebOptionsImpl"
		init-method="init">
	</bean>
	
	
	<!-- Cron Job stuff -->
	
	<bean id ="cronTaskExecuter" class="com.ani.stock.datasvc.cron.CronTaskExecuter">
	</bean>
	
	<task:scheduler id="cronScheduler"/>
	
	<task:scheduled-tasks scheduler="cronScheduler">
    	<task:scheduled ref="cronTaskExecuter" method="callStockService" cron="0 0/30 16-23 * * MON-FRI"/>
	</task:scheduled-tasks>




</beans>